

<div class="row">
    <div class="col-md-4 col-md-offset-4 well">
        <form action="/home/addcandidate" method="post">
            <input type="text" name="FirstName" placeholder="First Name" class="form-control" />
            <input type="text" name="LastName" placeholder="Last Name" class="form-control" />
            <input type="text" name="Email" placeholder="Email" class="form-control" />
            <input type="text" name="Phone" placeholder="Phone" class="form-control" />
            <textarea class="form-control" rows="2" placeholder="Notes..." name="Notes"></textarea>
            <input type="hidden" name="Confirmed" value="null" />
            <button class="btn btn-success">Add Candidate</button>
        </form>
    </div>
</div>

