
<div class="row well">
    <div class="col-md-6 col-md-2">
        <a href="/home/addcandidate">Add A Candidate</a>
        <a href="/home/pending">Pending Candidates</a>
        <a href="/home/confirmed">Confirmed Candidates</a>
        <a href="/home/declined">Declined Candidates</a>
    </div>
</div>

